  a {
    outline: 0 !important;
  }

  .spoiler {
  	color: #000;
  	background: #000;
  }

  .spoiler:hover {
  	color: none;
  	background: none;
  }

  .small_linebreak { line-height: 3px; }

  .nolink {
    outline: 0 !important;
    color: rgb(51, 51, 51) !important;
  }