  body {
    padding-top: 10px;
    padding-bottom: 40px;
    text-decoration: none;
  }

  a {
    outline: 0 !important;
  }

#options_bar {
    background-color: #1790E5;
    width: 50%;
    height: 5px;
    overflow: hidden;
}

.opt {
    background-color: #1790E5;
    cursor: pointer;
    text-align: center;
}

.opt:hover {
    background-color: #005C9D;
    cursor: pointer;
}

.aux {
    display: none;
}

#sort_bar {
    padding-left: 15px;
    margin-bottom: 5px;
}

.sort_btn {
    background-color: #D3E1FF;
    color: #FFF;
    cursor: pointer;
    padding: 3px;
    margin: 1px;
}

.sort_btn:hover {
    background-color: #B9CFFF;
}

.sort_btn_active {
    background-color: #99B9FF !important;
}

.legend_c { border-left: #3090B4 3px solid; padding-left: 4px;}
.legend_w { border-left: #00AB3F 3px solid; padding-left: 4px;}
.legend_q { border-left: #DB95E5 3px solid; padding-left: 4px;}
.legend_h { border-left: #FFE880 3px solid; padding-left: 4px;}
.legend_d { border-left: #FF6F6F 3px solid; padding-left: 4px;}

.legend_c:hover:not(.active_c) {filter: alpha(opacity=60); opacity: 0.6;}
.legend_w:hover:not(.active_w) {filter: alpha(opacity=60); opacity: 0.6;}
.legend_q:hover:not(.active_q) {filter: alpha(opacity=60); opacity: 0.6;}
.legend_h:hover:not(.active_h) {filter: alpha(opacity=60); opacity: 0.6;}
.legend_d:hover:not(.active_d) {filter: alpha(opacity=60); opacity: 0.6;}

div.legend { text-align: center; overflow: hidden; height: 25px !important }
span.legend { text-align: center; }
span.legend:hover + ul.legend { display: inline; }
span.legend:hover + ul.legend_user { display: inline; }
span.legend:hover { color: #ffffff; }
ul.legend_user { position: relative; right: 50px; text-align: center; display: none; margin: 10px 2px; background-color: #f5f5f5; }
ul.legend { position: relative; right: 50px; text-align: center; display: none; margin: 10px 5px; background-color: #f5f5f5; }
.legend_c_box { min-width: 10px; border: 1px solid #222; background-color: #3090B4; padding: 1px 2px; font-size: 10px; display: inline; }
.legend_w_box { min-width: 10px; border: 1px solid #222; background-color: #00AB3F; padding: 1px 2px; font-size: 10px; display: inline; }
.legend_q_box { min-width: 10px; border: 1px solid #222; background-color: #DB95E5; padding: 1px 2px; font-size: 10px; display: inline; }
.legend_h_box { min-width: 10px; border: 1px solid #222; background-color: #FFE880; padding: 1px 2px; font-size: 10px; display: inline; }
.legend_d_box { min-width: 10px; border: 1px solid #222; background-color: #FF6F6F; padding: 1px 2px; font-size: 10px; display: inline; }


li.s_c > a:hover{
    background-image: none !important;
    background-color: #3090B4 !important;
    color: #FFFFFF !important;    
}

li.s_w > a:hover{
    background-image: none !important;
    background-color: #00AB3F !important;
    color: #FFFFFF !important;
}

li.s_q > a:hover{
    background-image: none !important;
    background-color: #DB95E5 !important;
    color: #FFFFFF !important;
}

li.s_h > a:hover{
    background-image: none !important;
    background-color: #FFE880 !important;
    color: #222 !important;      
}

li.s_d > a:hover{
    background-image: none !important;
    background-color: #FF6F6F !important;
    color: #FFFFFF !important;    
}


li.active_c > a, li.active_c > a:hover, li.active_c > a:focus {
    background-image: none !important;
    background-color: #3090B4 !important;
    color: #FFFFFF !important;
    opacity: 1.0 !important;
}

li.active_w > a, li.active_w > a:hover, li.active_w > a:focus {
    background-image: none !important;
    background-color: #00AB3F !important;
    color: #FFFFFF !important;
    opacity: 1.0 !important;
}

li.active_q > a, li.active_q > a:hover, li.active_q > a:focus {
    background-image: none !important;
    background-color: #DB95E5 !important;
    color: #FFFFFF !important;
    opacity: 1.0 !important;
}

li.active_h > a, li.active_h > a:hover, li.active_h > a:focus {
    background-image: none !important;
    background-color: #FFE880 !important;
    color: #000000 !important;
    opacity: 1.0 !important;
}

li.active_d > a, li.active_d > a:hover, li.active_d > a:focus {
    background-image: none !important;
    background-color: #FF6F6F !important;
    color: #FFFFFF !important;
    opacity: 1.0 !important;
}    
