<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Entry overview
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
		{% if entry['type'] == 'anime' %}
			<a href="/proxyImage?url={{ deep['image_url'] }}" target="_BLANK"><img src="/proxyImage?url={{ deep['image_url'] }}" style="float: right; padding-right: 10px; max-width: 250px;" alt="[artwork for {{ entry['name'] }}]" title="Click to view on full size" /></a>
			<h1>{{ entry['name'] }} <small>{{ deep['type'] }}</small></h1>
			<b>Status: </b>{{ trstatus }}<br />
			<b>Last episode watched: </b>{{ entry['lastwatched'] }} of {{ deep['episodes'] }}<br />
			<b>Genre: </b>{% autoescape false %}{{ ' <span class="muted">/</span> '.join(deep['genres']) }}{% endautoescape %}<br />
			<br />
			{% if deep['end_date'] != None %}
				<!--<b>Aired: </b>{{ deep['start_date'] }} - {{ deep['end_date'] }}<br />-->
			{% else %}
				<!--<b>Aired: </b>{{ deep['start_date'] }} - ongoing<br />-->
			{% endif %}
			<b>Synopsis: </b>{% autoescape false %}		{{ deep['synopsis'] }}{% endautoescape %}<br />
			{% if deep['credit']|length > 0 %}<b>Created by: </b>{% autoescape false %}{{ ' <span class="muted">/</span> '.join(deep['credit']) }}{% endautoescape %}<br />{% endif %}
			{% if entry['obs'] != '' %}<br /><b>Observations: </b>{{ entry['obs'] }}{% endif %}
			<br />
	  		<hr />

	        <span id="soundtrack_t" style="font-size: 18px;">Soundtrack</span><br />
	        {% for op in deep['OPsongs'] %}
	        	<span style="padding-left: 10px; font-size: 12px"><small class="muted">(OP) </small>{{ op }}</span><br />
	        {% endfor %}
	        {% for ed in deep['EDsongs'] %}
	        	<span style="padding-left: 10px; font-size: 12px"><small class="muted">(ED) </small>{{ ed }}</span><br />
	        {% endfor %}

	        <hr />

	        <div style="float: left;">
	        	<span style="font-size: 18px;">Characters</span><br />
	        	{% for char in deep['characters'] %}
		        	<span style="padding-left: 10px; font-size: 12px">{{ char }} <span class="muted">(voiced by {{ deep['characters'][char] }})</span></span><br />
	        	{% endfor %}
	        </div>

	        <div style="float: left; width: 300px">
	        	<span style="font-size: 18px;  padding-left: 10px;">Episodes</span><br />
	        	{% for ep in deep['episode_keys'] %}
		        	<span style="font-size: 12px; padding-left: 15px;"><span class="muted">#{{ ep }}</span> {{ deep['episode_names'][ep] }} </span><br />
	        	{% endfor %}
	        </div>

	        <div style="float: left; padding-left: 10px;">
	        	<a href="#" onclick="expand('#staff_t', '#staff_e', 'Staff'); return false" class="nolink"> <span id="staff_t" style="font-size: 18px;">+ Staff</span></a><br />
	        	<div id="staff_e" style="display: none;">
	        	{% for staff in deep['staff'] %}
		        	<span style="padding-left: 10px; font-size: 12px">{{ staff }} <span class="muted">({{ deep['staff'][staff] }})</span></span><br />
	        	{% endfor %}
	        	</div>
	        </div>

	        <br /><br />
		{% elif entry['type'] == 'manga' %}
			<img src="{{ deep['image_url'] }}" style="float: right; padding-right: 10px;" />
			<h1>{{ entry['name'] }}</h1>
			<b>Status: </b>{{ trstatus }}'<br />
			<b>Last chapter/volume read: </b>{{ entry['lastwatched'] }}<br />
			<b>Chapters/volumes: </b>{{ deep['chapters'] }}/{{ deep['volumes'] }}<br />
			<b>Type: </b>{{ deep['type'] }}<br />
			<b>Synopsis: </b>{% autoescape false %}
		{{ deep['synopsis'] }}{% endautoescape %}<br />
			<br />{% if entry['obs'] != '' %}<b>Observations: </b>{{ entry['obs'] }}{% else %}<b>No observations</b>{% endif %}
		{% elif entry['type'] == 'vn' %}
			<img src="{{ deep['image'] }}" style="float: right; padding-right: 10px;" />
			{% if aliases_len == 0 %}
				<h1>{{ deep['title'] }}</h1>'
			{% else %}
				<h1>{{ deep['title'] }}</h1><h3> [{{ deep['aliases'] }}]</h1>
			{% endif %}
			<b>Status: </b>{{ trstatus }}<br />
			<b>Platforms: </b>{{ platforms }}<br />
			<b>Released: </b>{{ deep['released'] }}<br />
			<b>Languages: </b>{{ deep['languages'] }}<br />
			<b>Synopsis: </b>{% autoescape false %}
		{{ deep['description'] }}{% endautoescape %}<br />
			<br />{% if entry['obs'] != '' %}<b>Observations: </b>{{ entry['obs'] }}{% else %}<b>No observations</b>{% endif %}
		{% endif %}
      </div>
    </div>
  </div>
  <div class="accordion-group">
 	<div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Comments
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Coming Soon
      </div>
    </div>
  </div>
  <!--<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Subbing groups
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        lel faget
      </div>
    </div>
  </div>-->
</div>