<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ info['db'].name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">FutaHub</a>
          <div class="nav-collapse collapse">
            {% if info['mode'] == 'public' %}
            {% if info['logged_in'] %}<p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">{{ info['username'] }}</a> (<a href="/logout" class="navbar-link">logout</a>)
            </p> {% else %} <p class="navbar-text pull-right">
              <a href="/login" class="navbar-link">login</a> or <a href="/register" class="navbar-link">register</a>
            </p> {% endif %}

             {% endif %}
            <!--<ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>

    <div class="well" style="margin-top: 50px; margin-left: 30%; margin-right: 30%;">
      <form action="" method="post">
        <input type="text" name="username" placeholder="Username" style="width: 100%;" /> <br />
        <input type="password" name="password" placeholder="Password" style="width: 100%;" /> <br />
        <input type="submit" value="Login" style="width: 100%;" /> <br />
      </form>
    </div>
  </body>
</html>
