<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>New DB - FutaHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/global.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" style="/*background: none !important;*/">
        <div class="container-fluid">
          <a class="brand" href="/">FutaHub</a>
          <div class="nav-collapse collapse">
            {% if info['mode'] == 'public' %}
            {% if info['logged_in'] %}
              <div class="dropdown pull-right navbar-text">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">(+)</a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="/newdb">Create a new database</a></li>
                    <li><a href="/settings">Settings</a></li>
                  </ul>
              </div>
              <p class="navbar-text pull-right">
              Logged in as <a href="/{{ info['username'] }}" class="navbar-link">{{ info['username'] }}</a> (<a href="/logout" class="navbar-link">logout</a>)&nbsp;
            </p> {% else %} <p class="navbar-text pull-right">
              <a href="/login" class="navbar-link">login</a> or <a href="/register" class="navbar-link">register</a>
            </p> {% endif %}

             {% endif %}
            <!--<ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>

    <div class="well" style="margin-top: 50px; margin-left: 30%; margin-right: 30%;">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            New empty database
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <form action="/newdb_empty" method="post">
              <p><input type="text" placeholder="Database name" name="dbname" style="width: 95%;" /></p>
              <p><input type="text" placeholder="Database description" name="dbdesc" style="width: 95%;" /></p>
              <p><input type="submit" value="Create" style="width: 100%;" /></p>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            New database from file
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <form action="/newdb_existing" method="post" enctype="multipart/form-data">
              <p><input type="file" name="dbfile" style="width: 100%;" /></p>
              <p><input type="submit" value="Create" style="width: 100%;" /></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
